# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
ENV/
pip-wheel-metadata/

# Streamlit
.streamlit/secrets.toml

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs / data you don’t want in the repo
logs/
*.log